@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
  }
}

.box_shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.text{
  font-family: 'Open Sans', sans-serif;
}

.heading{
  backface-visibility: hidden;
  font-family:'Times New Roman', Times, serif;
  line-height: 1;
}

.rbc-toolbar button{
  color: #3b6a87 !important;
}

.rbc-today {
  background-color: #64b3d69c !important
}

.rbc-off-range-bg {
  background: #e0f7fa78 !important;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 15px 15px !important;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.4rem; /* Change this value if you want to keep a thin scrollbar */
  background: transparent; /* This makes the scrollbar invisible */
}

/* Define a custom class to show the scrollbar while scrolling */
.show-scrollbar::-webkit-scrollbar {
  width: 0.4rem; /* Change this value if you want to keep a thin scrollbar */
  background: #888; 
}